<div class="sidebar">
    <div class="logo">
        <img src="../../../../assets/img/logo.png" alt="">
    </div>

    <div class="buttons">
        <div class="nav-bar">
            <ul>
                <li>
                    <button class="btn">
                        <i class="bi bi-bar-chart-line-fill"></i>
                    </button>
                </li>
                <li>
                    <button class="btn">
                        <i class="bi bi-building"></i>
                    </button> 
                </li>
                <li>
                    <button class="btn">
                        <i class="bi bi-pencil"></i>
                    </button> 
                </li>
                <li>
                    <button class="btn">
                        <i class="bi bi-journals"></i>
                    </button> 
                </li>
                <li>
                    <button class="btn">
                        <i class="bi bi-clock-fill"></i>
                    </button> 
                </li>
                <li>
                    <button class="btn">
                        <i class="bi bi-bar-chart-steps"></i>
                    </button> 
                </li>
                <li>
                    <button class="btn active">
                        <i class="bi bi-speedometer2"></i>
                    </button> 
                </li>
            </ul>
        </div>
        <div class="logout">
            <ul>
                <li>
                    <button class="btn">
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>

</div>