<table class="table table-striped" *ngIf="perspectives">
	<thead>
		<tr>
			<th scope="col" sortable="objective">NAME</th>
			<th scope="col" sortable="detail"><i class="bi bi-three-dots-vertical"></i></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let perspective  of perspectives | slice: (page-1)*pageSize : (page-1)*pageSize + pageSize">
			<td>{{ perspective.name }}</td>
			<td>
				<div ngbDropdown class="d-inline-block">
					<button type="button" class="btn" id="detail" ngbDropdownToggle>
						<i class="bi bi-three-dots"></i>
					</button>
					<div ngbDropdownMenu aria-labelledby="detail">
						<button ngbDropdownItem>Details</button>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<ngb-pagination  [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"  class="d-flex justify-content-end pe-3">

	<ng-template ngbPaginationPrevious>Previous</ng-template>
	<ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
	<ng-template ngbPaginationNext>Next</ng-template>

	
  </ngb-pagination>