<div class="row px-3 py-2">
    <div class="col-md col-12 mb-md-0 mb-2">
        <div class="logo">
            Jones Arc.
        </div>
    </div>
    <div class="col-md col-12 ">
        <div class="action">
            <div class="search">
                <div class="input-container">
                    <i class="bi bi-caret-down-fill firstIcon"></i>
                    <input type="search" placeholder="search projects, clients, staff and more">
                    <i class="bi bi-search lastIcon"></i>
                </div>
                
            </div>
            <div class="btn btn-outline-orange">
                <i class="bi bi-plus-circle"></i>
            </div>
            <div class="btn btn-outline-grey">
                <i class="bi bi-clock"></i>
            </div>
            <div class="profile">
                <div class="profile-picture">
                    <img src={{user.img}} alt="">
                </div>

                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
                        {{user.name}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Option 1</button>
                        <button ngbDropdownItem>Option 2</button>
                        <button ngbDropdownItem>Option 3</button>
                    </div>
                </div>
            </div>
            <div class="btn btn-outline-grey">
                <i class="bi bi-question-circle"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1" [disabled]="disabled">
            <a ngbNavLink disabled>BALANCE COMPANY SCORE<i class="bi bi-caret-right-fill"></i></a>
            <ng-template ngbNavContent>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>Stategy Maps</a>
            <ng-template ngbNavContent>
                <div class="picture">

                </div>
                <h5>STM 2019</h5>
                
            </ng-template>
        </li>
        <li [ngbNavItem]="3" [disabled]="disabled">
            <a ngbNavLink disabled>KPI</a>
            <ng-template ngbNavContent>
            </ng-template>
        </li>
    </ul>
    
    <div [ngbNavOutlet]="nav" class=""></div>

</div>